<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SEVENZEN</title>
    <link rel="icon" href="/sevenzen.ico" sizes="any" type="image/svg+xml">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="/mystyles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js"
        integrity="sha512-ZwR1/gSZM3ai6vCdI+LVF1zSq/5HznD3ZSTk7kajkaj4D292NLuduDCO1c/NT8Id+jE58KYLKT7hXnbtryGmMg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <%- include('header'); %>
        <main class="container">
            <div class="card mb-3">
                <canvas id="bkgcanvas" width="400" height="400">
                    <script>
                        var yvals = [chartdata.avg_enjoyment, chartdata.avg_sadness, chartdata.avg_anger, chartdata.avg_contempt, chartdata.ave_disgust, chartdata.avg_fear, chartdata.avg_surprise];
                        const xlabels = ["Enjoyment", "Sadness", "Anger", "Contempt", "Disgust", "Fear", "Surprise"];
                        const chartdata = {
                            labels: xlabels,
                            datasets: [{
                                data: yvals,
                                lineTension: 0,
                                pointRadius: 3,

                            }]
                        };

                        const chartconfig = {
                            type: 'line',
                            data: chartdata,
                            options: {
                                animation: true,
                                maintainaspectratio: true,
                                scales: {
                                    y: {
                                        min: 0,
                                        max: 10,
                                        beginAtZero: true
                                    }
                                },
                                plugins: {
                                    legend: { display: false },
                                    tooltip: { enabled: false },
                                    title: { display: true, text: 'Emotion Intensity Over Time' }
                                }
                            }
                        };
                        const chart = new Chart(document.getElementById('bkgcanvas').getContext('2d'), chartconfig);
                    </script>
                </canvas>
            </div>
        </main>
</body>

</html>