<header class="header">
  <nav class="navbar navbar-light" style="background-color: rgb(71, 30, 105);">
    <a class="navbar-brand" style="color: white" href="/">
      <img src="/sevenzen.svg" width="50" height="50" class="d-inline-block align-centre" alt="">
      <% if (loggedin) { %>
        <%= userinfo %>'s Zen
          <% } else { %>
            SEVENZEN
            <% } %>
    </a>
    <ul class="nav justify-content-end">
      <% if (loggedin) { %>
        <li class="nav-item">
          <a class="nav-link" href="/log">Log</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/history">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chart">Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <% } else { %>
          <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <% } %>
    </ul>
  </nav>
</header>